* {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#ffffff, #E6EDFA);
  overflow: hidden;
  /* height: 100vh; */
}

.app:before,
.app:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(250px);
  
}

.app:before {
  width: 571px;
  height: 362px;
  top: 290px;
  left: -224px;
  transform: rotate(30deg);
  background: linear-gradient(264.93deg, #072E44 9.13%, #018FDE 106.76%);
}

.app:after {
  top: 115px;
  right: -107px;
  width: 472px;
  height: 558px;
  transform: rotate(128deg);
  background: linear-gradient(267.33deg, #018FDE 19.54%, #072E44 123.71%);
  transform: rotate(-52.45deg);
}

.btn-wrapper {
  position: relative;
}

.btn-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #121212;
  border-radius: 0;
}

.btn {
  font-weight: 500;
  font-size: 14px;
  color: #121212;
  padding: 8px 24px;
  text-align: center;
  border: 1px solid #121212;
  border-radius: 0;
  transform: translate(4px, -4px);
  background-color: #fff; 
  transition: transform 0.3s ease-in-out; 
  margin: 0;
  text-transform: none;
}

.btn:hover {
  transform: translate(2px, -2px);
}

.btn:active {
  transition: none; 
  color: #8792A7;
  transform: translate(0, 0);
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


